/* VARIABLES */
:root {
  --primary: #00a3d4;
  --color: rgb(216, 3, 3);
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/* GLOBAL CLASSES */
.row,
.column {
  display: flex;
}

/* ^^^^ above sets flex on direct children only ^^^^ */

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/*** CUSTOM STYLES ***/

/* Header Styles */
header {
  padding: 9px 5%;
  background: var(--primary);
}

header h2,
header nav i {
  color: #fff;
}

header nav i {
  font-size: 1.5rem;
  padding: 0 2px;
}

/* Content Styles */
h1.main-header {
  text-align: center;
  margin: 15px 0;
  color: var(--primary);
}

.search {
  width: 350px;
  margin-bottom: 30px;
  padding: 7px 15px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  outline: none;
  color: #555;
}

.search::placeholder {
  color: var(--primary);
  text-align: center;
}

main p.no-search {
  grid-column: 1 / 5;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 0 5%;
}

main .movie-item {
  border: 3px solid var(--primary);
  border-radius: 5px;
  padding: 15px 10px;
  /* use linear-gradient to set an overlay on the image */

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* direct children > all selector * inside of the main .movie-item, but NOT the last child */
main .movie-item > *:not(:last-child) {
  margin-bottom: 8px;
}

main .movie-item h3,
main .movie-item p {
  color: #fff;
}

main .movie-item p {
  font-size: 0.85rem;
  line-height: 1.3;
}

main .movie-item a {
  color: var(--color);
  border-bottom: 1px dashed var(--color);
  font-size: 0.8rem;
}
